.dashboard {
  padding: 2rem;
  background-color: #f4f6f8;
  font-family: 'Segoe UI', sans-serif;
}
.top-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.chart-card {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  height: 350px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
